@import "tailwindcss";

:root {
  color-scheme: light dark;
  --bg-color: #ffffff;
  --text-color: #111111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #121212;
    --text-color: #eeeeee;
  }
}

body {
  font-family: system-ui, "Segoe UI", Roboto, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}
